<template>
    <body>
        <div class="bg-black">
            <div class="navbar-1 w-full max-w-[1250px] mx-auto pt-11">
                <div class="lg:flex lg:justify-between">
                    <div class="logo mb-5">
                        <a href="#"><img src="/public/assets/img/1bilionercom.png" alt="" /></a>
                    </div>
                    <div class="">
                        <form class="max-w-md mx-auto lg:w-[1000px]">   
                            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input type="search-ashiap" id="default-search" class="search-border block w-full p-4 ps-10 text-sm text-gray-900 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for headlines" />
                                <button type="submit" class="text-white absolute end-2.5 right-5 bottom-2.5 bg-[#8E4042] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-4 py-2 dark:bg-[#8E4042] dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        
            <div class="navbar-2 w-full max-w-[1250px] mx-auto ">
                <nav class="flex items-center justify-between flex-wrap bg-[#1A1A1A] lg:p-4 pb-4">
                    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                        <div class=" flex text-sm lg:flex-grow">
                            <div>
                                <a href="#responsive-header" class="block text-white font-semibold ml-5 mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                                    <img src="/public/assets/img/home.svg" alt="" />
                                </a>
                                <a href="#responsive-header" class="block text-white font-semibold ml-5 mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                                    Lonte
                                </a>
                                <a href="#responsive-header" class="block text-white font-semibold ml-5 mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                                    HRS
                                </a>
                            </div>

                            <!-- <div>
                                <a href="#responsive-header" class="block text-white font-semibold mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                                    1bilionerhealth
                                </a>
                            </div> -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>    
            <div class="content-1 w-full bg-head">
                <div class="flex flex-wrap justify-between w-full max-w-[1250px] mx-auto px-5 md:px-0 bg-[#fff]">
                    <div class="headline-1 lg:w-6/12">
                        <a href="#"><img src="/public/assets/img/head-img-1.png" class="p-5"></a>
                            <div class="relative">
                                <div class="bottom-left">
                                    <h5><span style="font-weight:500">1BilionerNews</span> | 16 Maret, 2024</h5>
                                    <a href="#" class="text-nf" style="color:#fff !important;text-decoration:none;font-weight:bold;font-size:21px;">KPK Dianggap Tak Jeli, Samin Tan Lolos dari Jeruji</a>
                                    <p>1 minggu yang lalu</p>
                                </div>
                            </div>
                    <div class="philomena flex flex-wrap justify-between my-5">
                            <div class="lg:w-9/12 px-5">
                                <a href="#">
                                    <h1 class="font-bold text-md">Philomena Cunk Is Weird Enough to Take on the World</h1>
                                    <p class="text-xs font-light">The new Netflix show “Cunk on Earth” looks like an ambitious BBC documentary. Until its fictional host, created by Charlie Brooker, starts to ask some deeply silly questions.</p>
                                </a>
                            </div>
                            <div clas="lg:w-3/12">
                                <a href="#"><img src="/public/assets/img/philomena.png"></a>
                            </div>
                    </div>
                    </div>
                    <div class="headline-1 lg:w-5/12 h-full max-h-64">

                        <div class="bg-[#1A1A1A] p-4 flex flex-wrap">
                            <div class="text-[#D5D5D5] text-sm lg:w-6/12">
                                Secretary of State Antony J. Blinken on Friday 
                                canceled a weekend trip to Beijing after a Chinese 
                                spy balloon was sighted above the Rocky Mountain state of M
                                ontana, igniting a frenzy of media coverage and political 
                                commentary over a machine that the Pentagon said posed no threat to 
                                the United States.
                            </div>
                            <div class="lg:w-6/12">
                                <a href="#"><img src="/public/assets/img/furor.png"></a>
                            </div>
                        </div>

                        <div class="my-5 flex flex-wrap justify-center">
                            <div class="ballons-img lg:w-3/12 my-5">
                                <a href="#"><img src="/public/assets/img/ballons.png" alt="" /></a>
                            </div>

                            <div class="ballons-text lg:w-9/12 my-5">
                                <a href="#">
                                    <h1 class="font-bold text-md ml-5">More Airports to Use Greener ‘Glide’ Approach to Landing</h1>
                                    <p class="text-xs font-light ml-5">By Ginny Dennis, Feb. 4, 2023</p>
                                    <p class="text-xs font-light ml-5 my-3">The Stopping Home Office Work’s Unproductive Problems (SHOW UP, get it?) Act of 2023 passed the Republican-majority US House of Representatives on a close-to-party-line vote l...</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

   </body>
</template>

<style>
    /* body {
        width: 100%!important;
        max-width: 1140px!important;
        margin: auto!important;
    } */

    .bg-head{
        position: relative;
        background-color: #000;
        top:0;
        left: 0;
        width: 100%;
        max-width: 2500px;
        margin: auto;
        height: 212px;
    }
    
    .search-border {
        border: 1px solid rgb(192, 192, 192);
    }
    
    .bottom-left {
        position: absolute;
        bottom: 20px;
        left:20px;
        width: 100%;
        max-width: 559px;
        margin: auto;
        padding: 15px;
        color: #fff;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 1) 100%);
        border-radius: 0 0 12px 12px
    }
    
    .bottom-left h5 {
        font-weight: 300;
        font-size: 13px;
    }
    
    .bottom-left h1 {
        font-weight: bold;
        font-size: 20px;
    }
    
    .bottom-left p {
        font-weight: 300;
        font-size: 13px;
    }
    
    @media screen and (max-width: 374px) {
        .bottom-left {
            position: relative;
            bottom: 20px;
            max-width: 100%;
            margin: auto;
            padding: 15px;
            color: #fff;
            background: #000;
            border-radius: 0 0 12px 12px
        }
    }
</style>